In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(
    np.arange(12).reshape(4,3),
    index=list('abcd'),
    columns =list('xyz')
)
df

   x   y   z
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [5]:
df['y'][1], df.y[1], df['y']['b'], df.y['b']

(4, 4, 4, 4)

In [7]:
df.loc['b','y'], df.loc['b']['y'], df.loc['b'].y

(4, 4, 4)

In [8]:
df.loc['b'][1]

4

In [10]:
df.iloc[1,1], df.iloc[1]['y'], df.iloc[1].y, df.iloc[1][1]

(4, 4, 4, 4)

In [11]:
y = [x**3 for x in range(4)]
print(y)

[0, 1, 8, 27]

In [12]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
index=["a", "b", "c"],
columns=["A", "B", "C", "D"])

In [14]:
df.iloc[1, 2], df.loc['b', 'C'], df.C[1]

(16, 16, 16)

In [15]:
len('안녕하세요?')

6

In [17]:
for i in range(20, 40, 2):
    print(i)

20
22
24
26
28
30
32
34
36
38

In [ ]:
d = {'a':1, 'b':2, 'c':3}