In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(
    np.arange(12).reshape(4,3),
    index=list('abcd'),
    columns =list('xyz')
)
df

   x   y   z
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [5]:
df['y'][1], df.y[1], df['y']['b'], df.y['b']

(4, 4, 4, 4)

In [7]:
df.loc['b','y'], df.loc['b']['y'], df.loc['b'].y

(4, 4, 4)

In [8]:
df.loc['b'][1]

4

In [10]:
df.iloc[1,1], df.iloc[1]['y'], df.iloc[1].y, df.iloc[1][1]

(4, 4, 4, 4)