# 코사인 유사도를 이용한 영화 추천 시스템

## 코사인 유사도
- Numpy로 직접 제작

In [ ]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
def cos_sim(A, B):
       return dot(A, B)/(norm(A)*norm(B))

In [ ]:
doc1=np.array([0,1,1,1])
doc2=np.array([1,0,1,1])
doc3=np.array([2,0,2,2])

In [ ]:
cos_sim(doc1, doc2), cos_sim(doc1, doc3), cos_sim(doc2, doc3)

- Scikit-learn의 함수 이용

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity([doc1],[doc2])

In [ ]:
cosine_similarity([doc2],[doc3])

##  유사도를 이용한 추천 시스템

In [ ]:
from google.colab import files
uploaded = files.upload()
filename9+/ = list(uploaded.keys())[0]

Saving movies_metadata.csv to movies_metadata.csv

In [ ]:
import pandas as pd

df = pd.read_csv(filename, low_memory=False)
df.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [ ]:
movie.shape

NameError: ignored

In [1]:

df = movie[['title','overview']]
df.head(2)

NameError: ignored

In [ ]:
df.overview[0]

In [ ]:
df = df.head(20000)

## 데이터 전처리

In [ ]:

df.isnull().sum()

In [ ]:

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df.dropna(inplace=True)     # how='any' 가 디폴트
df.shape

In [ ]:
# data는 삭제되었지만 남은 데이터의 index 번호는 그대로 남아있음
df.tail()

In [ ]:
df.set_index('title', inplace=True)
df.reset_index(inplace=True)
df.tail()

## 텍스트 전처리

In [ ]:
# 구둣점 제거
df['clean_doc'] = df.overview.str.replace('[^A-Za-z ]', '')
df.head(3)

## DTM 변환

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tvect = TfidfVectorizer(stop_words='english')
tfidf_matrix = tvect.fit_transform(df.overview)
tfidf_matrix.shape

In [ ]:

tfidf_clean = tvect.fit_transform(df.clean_doc)
tfidf_clean.shape

## 영화의 타이틀과 인덱스를 가진 테이블

In [ ]:
indices = pd.Series(df.index, index=df.title).drop_duplicates()
indices.head()

In [ ]:
indices['Jumanji']

## 코사인 유사도를 통해 유사한 영화를 찾는 함수

In [ ]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
#cosine_clean = linear_kernel(tfidf_clean, tfidf_clean)

In [ ]:
cosine_sim.shape

In [ ]:
cosine_sim[1, :5]

In [ ]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # 선택한 영화의 타이틀로부터 해당되는 인덱스를 받아옵니다. 이제 선택한 영화를 가지고 연산할 수 있습니다.
    idx = indices[title]

    # 모든 영화에 대해서 해당 영화와의 유사도를 구합니다.
    sim_scores = list(enumerate(cosine_sim[idx]))

    # 유사도에 따라 영화들을 정렬합니다.
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # 가장 유사한 10개의 영화를 받아옵니다.
    sim_scores = sim_scores[1:11]

    # 가장 유사한 10개의 영화의 인덱스를 받아옵니다.
    movie_indices = [i[0] for i in sim_scores]

    # 가장 유사한 10개의 영화의 제목을 리턴합니다.
    return df.title.iloc[movie_indices]

In [ ]:
get_recommendations('The Dark Knight Rises')