# Pandas -series

In [2]:
import numpy as np
import pandas as pd

## series 생성

- 시리즈 : 값 + 인덱스
- pandas에서 시리즈 클래스 제공

In [3]:
s =pd.Series([9904312, 3448737, 2896451,246605255])
s

0      9904312
1      3448737
2      2896451
3    246605255
dtype: int64

In [4]:
s =pd.Series([9904312, 3448737, 2896451,246605255],
index =['서울', '부산', '인천', '대구'], dtype = np.int32)
s

서울      9904312
부산      3448737
인천      2896451
대구    246605255
dtype: int32

In [5]:
# 시리즈는 값과 인덱스로 구성되어 있다.
# 시리즈의 값 - 넘파이 배열
s.values

array([  9904312,   3448737,   2896451, 246605255])

In [6]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울      9904312
부산      3448737
인천      2896451
대구    246605255
Name: 인구, dtype: int32

## 시리즈의 연산

In [8]:
s / 1000000

도시
서울      9.904312
부산      3.448737
인천      2.896451
대구    246.605255
Name: 인구, dtype: float64

## 시리즈 인덱싱

In [14]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

In [15]:
# fancy indexing
s[[0,3,1]]

도시
서울      9904312
대구    246605255
부산      3448737
Name: 인구, dtype: int32

In [16]:
# slicing, 1부터 3 앞까지
s[1:3]

도시
부산    3448737
인천    2896451
Name: 인구, dtype: int32

In [17]:
# index로 slicing은 마지막(해당 인덱스)까지 포함
s['부산':'대구'] # 부산 부터 대구까지

도시
부산      3448737
인천      2896451
대구    246605255
Name: 인구, dtype: int32

In [18]:
# 필터링
s[(2500000 < s) & (s < 3000000)]#s[2500000 < s <3000000]은 사용불가

도시
인천    2896451
Name: 인구, dtype: int32

In [19]:
s[(s<2500000) | (s>4e6)]

도시
서울      9904312
대구    246605255
Name: 인구, dtype: int32

In [20]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

## 시리즈와 딕셔너리

In [21]:
s2 = pd.Series({ "서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

## 인덱스 기반 연산

In [22]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    264416.0
dtype: float64

In [23]:
s.values- s2.values

array([   272830,     55546,    264416, 245115097], dtype=int64)

In [24]:
rs =(s-s2)/s2 *100
rs

대구          NaN
대전          NaN
부산     1.636984
서울     2.832690
인천    10.046067
dtype: float64

In [25]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [26]:
rs = rs[rs.notnull()]
rs

부산     1.636984
서울     2.832690
인천    10.046067
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [27]:
# 갱신
rs['부산'] = 1.63
rs

부산     1.630000
서울     2.832690
인천    10.046067
dtype: float64

In [28]:
# 추가

rs['대구'] = 1.41
rs

부산     1.630000
서울     2.832690
인천    10.046067
대구     1.410000
dtype: float64

In [29]:
# 삭제
del rs['부산']
rs

서울     2.832690
인천    10.046067
대구     1.410000
dtype: float64