# DataFarme class

- 시리즈가 1차원 벡터 데이터에 행방향 인덱스(row index)를 붙인 것이라면 
- 데이터프레임 DataFrame 클래스는 2차원 행렬 데이터에 인덱스를 붙인 것과 비슷하다. 2차원이므로 각각의 행 데이터의 이름이 되는 행 인덱스(row index) 뿐 아니라 각각의 열 데이터의 이름이 되는 열 인덱스(column index)도 붙일 수 있다.

In [1]:
import numpy as np
import pandas as pd

## 데이터 프레임의 생성

In [8]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052], # 열1, 시리즈
    "2010": [9631482, 3393191, 2632035, 2431774], # 열2, 시리즈
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [7]:
data =

SyntaxError: invalid syntax (<ipython-input-7-1299cdc76f48>, line 1)

열 데이터의 갱신, 추가, 삭제

In [ ]:
# 갱신

In [9]:
df['2015-2015 증가율'] = df['2010-2015 증가율'] *100
df

     지역     2015     2010     2005     2000  2010-2015 증가율  2015-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283           2.83
부산  경상권  3448737  3393191  3512547  3655437         0.0163           1.63
인천  수도권  2890451  2632035  2517680  2466338         0.0982           9.82
대구  경상권  2466052  2431774  2456016  2473990         0.0141           1.41

In [ ]:
# 추가

In [10]:
df['2020'] = [1,2,3,4]
df

,지역,2015,2010,2005,2000,2010-2015 증가율,2015-2015 증가율,2020
서울,수도권,9904312,9631482,9762546,9853972,0.0283,2.83,1
부산,경상권,3448737,3393191,3512547,3655437,0.0163,1.63,2
인천,수도권,2890451,2632035,2517680,2466338,0.0982,9.82,3
대구,경상권,2466052,2431774,2456016,2473990,0.0141,1.41,4

In [ ]:
# 삭제

In [11]:
del df['2020']
df

     지역     2015     2010     2005     2000  2010-2015 증가율  2015-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283           2.83
부산  경상권  3448737  3393191  3512547  3655437         0.0163           1.63
인천  수도권  2890451  2632035  2517680  2466338         0.0982           9.82
대구  경상권  2466052  2431774  2456016  2473990         0.0141           1.41

## 열 인덱싱

In [12]:
df['지역'] # 결과는 시리즈

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [13]:
df[['지역','2015']]  # 결과는 데이터프레임

     지역     2015
서울  수도권  9904312
부산  경상권  3448737
인천  수도권  2890451
대구  경상권  2466052

In [14]:
df[['지역']]

     지역
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [15]:
type(df['지역']), type(df[['지역']])

(pandas.core.series.Series, pandas.core.frame.DataFrame)