In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])

df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

## loc 인덱서

In [6]:
df.loc["x"]

A    10
B    11
C    12
D    13
Name: x, dtype: int32

In [10]:
df.loc["y":"z"]

    A   B   C   D
y  14  15  16  17
z  18  19  20  21

In [11]:
df["y":"z"]

    A   B   C   D
y  14  15  16  17
z  18  19  20  21

In [12]:
df.loc[["y", "z"]]

    A   B   C   D
y  14  15  16  17
z  18  19  20  21

In [13]:
df.A > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [14]:
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

In [15]:
def select_rows(df):
    return df.A > 15

In [16]:
select_rows(df)

x    False
y    False
z     True
Name: A, dtype: bool

In [17]:
df.loc[select_rows(df)]

    A   B   C   D
z  18  19  20  21

## iloc 인덱서

In [18]:
df.iloc[0, 1]

11

In [19]:
df.iloc[:2, 2]

x    12
y    16
Name: C, dtype: int32

In [20]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [21]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int32

In [24]:
##  연습문제 4.3.1
df =pd.DataFrame(np.arange(25).reshape(5,5),
                index = ['a', 'b', 'c', 'd','e'],
                columns = [ 'v', 'w', 'x', 'y', 'z']
)
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [26]:
# 12값 도출
df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [27]:
# loc
df.loc['c','x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)